{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="alert alert-primary">Star Airways ! :D</h1>
    <div class="container">
        <div class="row">
            <a href="{{ path("home") }}" class="btn btn-danger">Exit</a>
            <a href="{{ path("create") }}" class="btn btn-primary">New</a>
        </div>
        <br>
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th>Numéro de vol</th>
                    <th>Vol</th>
                    <th>Heure</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
                {% for flight in flights %}
                    <tr>
                        <th>{{ flight.numeroVol }}</th>
                        <th>{{ flight.depart }}/{{ flight.arrivee }}</th>
                        <th>{{ flight.horaire | date('H:i') }}</th>
                        <th><a href="{{ path("edit", {"id": flight.id}) }}">Editer</a></th>
                        <th><a id="del" href="{{ path("delete", {"id": flight.id}) }}">Supprimer</a></th>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    var del = document.querySelector("#del");
    del.addEventListener("click",function(e){
        if(confirm("Valider ?") == true) {
            return true;
        }
        e.preventDefault();
        return false;
    } , false);
</script>
{% endblock %}