{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="alert alert-primary">Star Airways ! :D</h1>


    <div class="container">
        <div class="row">
            <a href="{{ path("admin") }}" class="btn btn-danger">Admin</a>
            <a href="{{ path("create") }}" class="btn btn-primary">New</a>
        </div>
        <br>
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th>Numéro de vol</th>
                    <th>Départ</th>
                    <th>Arrivée</th>
                    <th>Horaires</th>
                    <th>Places</th>
                    <th>Prix</th>
                    <th>Info 1</th>
                    <th>Info 2</th>
                </tr>
                {% for flight in flights %}
                    <tr>
                        <th>{{ flight.numeroVol }}</th>
                        <th>{{ flight.depart }}</th>
                        <th>{{ flight.arrivee }}</th>
                        <th>{{ flight.horaire | date('H:i') }}</th>
                        <th>{{ flight.place }}</th>
                        <th>{{ flight.prix }}</th>
                        <th></th>
                        {% if (flight.place) == 0 %}
                            <th>COMPLET</th>
                        {% elseif(flight.place) <= 10 %}
                            <th><em>{{ flight.place }} PLACES</em></th>
                        {% else %}
                            <th></th>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}